---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Componetes
import JobEntry from "@/components/jobs/JobEntry.astro";
// Content
import { getCollection } from "astro:content";
const allJobs = await getCollection("jobs");
const limit = Astro.props.limit ?? allJobs.length;
const jobs = allJobs.slice(0, limit);
---

<div>
  <Text tag="h2" variant="textBase" class="font-medium text-primary"
    >Markets</Text
  >
  <div
    class="mt-1 flex flex-col divide-y divide-primary/10 border-y border-primary/10">
    {jobs.map((post) => <JobEntry post={post} />)}
  </div>
</div>
