<div class="lg:-mt-24 mx-auto md:px-32 py-6 max-w-7xl">
  <div
    class="mx-auto rounded-2xl p-4 lg:p-8 mt-4 bg-white/20 backdrop-blur-xl shadow-2xl shadow-stone-500/40">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 lg:grid-cols-4">
      <div class="flex justify-start items-center relative">
        <input
          class="leading-none shadow shadow-stone-500/20 text-left block w-full rounded-lg border-0 py-2.5 lg:rounded-xl pl-4 pr-8 text-stone-400 ring-1 ring-inset ring-stone-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6 duration-200 px-4 border-stone-700 outline-none"
          type="text"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="searchIcon"
        />
        <svg
          id="searchIcon"
          class="absolute right-3 z-10 cursor-pointer"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Search Icon">
          <title>Search Icon</title>
          <path
            d="M10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17Z"
            stroke="#6b7280"
            stroke-width="1.66667"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M21 21L15 15"
            stroke="#6b7280"
            stroke-width="1.66667"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>


      <div
        x-data="{ open: false }"
        class="relative">
        <button
          x-on:click="open = true"
          class="flex relative items-center gap-2 w-full rounded-lg bg-white text-stone-400 ring-1 ring-inset ring-stone-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6 duration-200 px-4 border-stone-700 outline-none shadow shadow-stone-500/20 border-0 py-2.5 lg:rounded-xl justify-between"
          type="button"
          aria-expanded="false"
          aria-haspopup="true"
          aria-controls="locationDropdown">
          <span>Location</span>
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            style="margin-top:3px">
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            ></path>
          </svg>
        </button>
        <div
          x-show="open"
          x-on:click.away="open = false"
          id="locationDropdown"
          class="absolute left-0 mt-2 w-full bg-white     shadow-md shadow-stone-500/20 z-10"
          style="min-width:15rem"
          role="menu"
          aria-labelledby="locationButton">
          <a
            href="/board/location"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            Mariehamn, Åland Islands
          </a>
          <a
            href="/board/location"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            Madrid, Spain
          </a>
          <a
            href="/board/location"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            Milano, Italy
          </a>
        </div>
      </div>

      <div
        x-data="{ open: false }"
        class="relative">
        <button
          x-on:click="open = true"
          class="flex relative items-center gap-2 w-full rounded-lg bg-white text-stone-400 ring-1 ring-inset ring-stone-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6 duration-200 px-4 border-stone-700 outline-none shadow shadow-stone-500/20 border-0 py-2.5 lg:rounded-xl justify-between"
          type="button"
          aria-expanded="false"
          aria-haspopup="true"
          aria-controls="levelDropdown">
          <span>Levels</span>
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            style="margin-top:3px">
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            ></path>
          </svg>
        </button>
        <div
          x-show="open"
          x-on:click.away="open = false"
          id="levelDropdown"
          class="absolute left-0 mt-2 w-full bg-white     shadow-md shadow-stone-500/20 z-10"
          style="min-width:15rem"
          role="menu"
          aria-labelledby="levelButton">
          <a
            href="/board/level"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            Junior
          </a>
          <a
            href="/board/level"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            Senior
          </a>
          <a
            href="/board/level"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            Executive
          </a>
        </div>
      </div>

      <div
        x-data="{ open: false }"
        class="relative">
        <button
          x-on:click="open = true"
          class="flex relative items-center gap-2 w-full rounded-lg bg-white text-stone-400 ring-1 ring-inset ring-stone-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6 duration-200 px-4 border-stone-700 outline-none shadow shadow-stone-500/20 border-0 py-2.5 lg:rounded-xl justify-between"
          type="button"
          aria-expanded="false"
          aria-haspopup="true"
          aria-controls="categoryDropdown">
          <span>Category</span>
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            style="margin-top:3px">
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            ></path>
          </svg>
        </button>
        <div
          x-show="open"
          x-on:click.away="open = false"
          id="categoryDropdown"
          class="absolute left-0 mt-2 w-full bg-white     shadow-md shadow-stone-500/20 z-10"
          style="min-width:15rem"
          role="menu"
          aria-labelledby="categoryButton">
          <a
            href="/board/category"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            UI/UX
          </a>
          <a
            href="/board/category"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            Web Development
          </a>
          <a
            href="/board/category"
            class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-stone-400 hover:text-purple text-left text-sm hover:bg-stone-50 disabled:text-stone-400"
            role="menuitem">
            Product Design
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
