---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
---

<div>
  <Text
    tag="h1"
    variant="display3XL"
    class="text-primary font-semibold tracking-tighter text-balance"
    >Your Next Role Starts Here. Or Not.</Text
  >
</div>
