---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <Wrapper variant="standard" class="py-12">
    <Text
      tag="h1"
      variant="display3XL"
      class="font-semibold tracking-tighter text-primary text-balance"
    >
      Typography
    </Text>

    <Text
      tag="h3"
      variant="textXS"
      class="mt-4 font-mono font-medium uppercase text-primary"
      >Font in use: Geist + Geist Mono ¯</Text
    >

    <div class="mt-12 text-primary">
      <div class="py-2">
        <Text tag="p" variant="textXS"> Text XS </Text>
      </div>
      <div class="py-2">
        <Text tag="p" variant="textSM"> Text SM </Text>
      </div>
      <div class="py-2">
        <Text tag="p" variant="textBase"> Text Base </Text>
      </div>
      <div class="py-2">
        <Text tag="p" variant="textLG"> Text LG </Text>
      </div>
      <div class="py-2">
        <Text tag="p" variant="textXL"> Text XL </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="displayXS"
        >
          Display XS
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="displaySM"
        >
          Display SM
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="displayMD"
        >
          Display MD
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="displayLG"
        >
          Display LG
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="displayXL"
        >
          Display XL
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="display2XL"
        >
          Display 2XL
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="display3XL"
        >
          Display 3XL
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="display4XL"
        >
          Display 4XL
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="display5XL"
        >
          Display 5XL
        </Text>
      </div>
      <div class="py-2">
        <Text
          class="font-semibold tracking-tighter"
          tag="p"
          variant="display6XL"
        >
          Display 6XL
        </Text>
      </div>
    </div>
  </Wrapper>
</BaseLayout>
