---
import { categories } from "../../data/categories.json";
---

<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="border-t border-zinc-800 pt-2">
      <div class="flex flex-col gap-8 lg:gap-0">
        <p class="text-white text-base tracking-wide font-display uppercase">
          Explore all our categories
        </p>
        <div>
          <p
            class="text-base uppercase md:text-3xl mt-32 lg:text-6xl font-display tracking-tight text-white">
            Discover a wide range of thrilling job opportunities that align with
            your interests and chosen field of study.
          </p>
          <p class="mt-32">
            <a
              href="/board/all-categories"
              class="text-white text-xs tracking-wide hover:text-zinc-500 uppercase font-display"
              >See all categories</a
            >
          </p>
        </div>
        <ul
          class="flex flex-col mt-12 col-span-full divide-y border-y divide-zinc-800 border-zinc-800"
          role="list">
          {
            categories.slice(0, 15).map((template) => (
              <>
                <li class="w-full py-2">
                  <a
                    href={template.url}
                    title={template.title}
                    class="grid grid-cols-1 md:grid-cols-2 w-full lg:grid-cols-2 text-sm text-white hover:text-zinc-500 duration-200">
                    <div class=" flex flex-col lg:flex-row gap-4">
                      <p class="tracking-wide font-display ">
                        {template.title}
                      </p>
                      ⏤
                      <p class="  tracking-tight ">
                        <span class="font-mono">{template.applicants}</span>{" "}
                        Applicants
                      </p>
                    </div>
                    <span class="font-display text-right"> &rarr;</span>
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
