<section>
  <div class="mx-auto 2xl:max-w-7xl px-8 md:px-0 lg:-mx-10">
    <div
      class="mx-auto grid grid-cols-4 items-center gap-x-8 gap-y-10 w-full sm:grid-cols-6 sm:gap-x-10 lg:grid-cols-5">
      <img
        class="col-span-2 opacity-50 max-h-8 w-full object-contain lg:col-span-1"
        src="/brands/1.svg"
        alt="#"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 opacity-50 max-h-8 w-full object-contain lg:col-span-1"
        src="/brands/2.svg"
        alt="#"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 opacity-50 max-h-8 w-full object-contain lg:col-span-1"
        src="/brands/3.svg"
        alt="#"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 opacity-50 max-h-8 w-full object-contain sm:col-start-2 lg:col-span-1"
        src="/brands/4.svg"
        alt="#"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 opacity-50 col-start-2 max-h-8 w-full object-contain sm:col-start-auto lg:col-span-1"
        src="/brands/5.svg"
        alt="#"
        width="158"
        height="48"
      />
    </div>
  </div>
</section>
