@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar-hide";
@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  /* Styles text */
  --color-primary: ooklch(0.187 0.015 266.77);
  /* Styles background */
  --color-secondary: oklch(1 0 0);
  /* For accents */
  --color-accent: oklch(0.717 0.157 53.0);
}
[data-theme="accent"] {
  /* Styles text */
  --color-primary: oklch(0.667 0.000 0.0);
  /* Styles background */
  --color-secondary: oklch(0.187 0.015 266.77);
  /* For accents */
  --color-accent: oklch(0.717 0.157 53.0);
}
[data-theme="dark"] {
  /* Styles text */
  --color-primary: oklch(1 0 0);
  /* Styles background */
  --color-secondary: oklch(0.396 0.076 150.1);
  /* For accents */
  --color-accent:  oklch(0.717 0.157 53.0);
}

html.theme-animating,
html.theme-animating * {
  transition: background-color 250ms ease, color 250ms ease,
    border-color 250ms ease, fill 250ms ease, stroke 250ms ease,
    outline-color 250ms ease;
}
