---
// Assets
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("jobs");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
// Count how many jobs are associated with each tag
const tagCounts = tags.map((tag) => {
  const count = allPosts.filter((post) => post.data.tags.includes(tag)).length;
  return { tag, count };
});
// Sort tags alphabetically
tagCounts.sort((a, b) => a.tag.localeCompare(b.tag));
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12 lg:py-24">
      <Text
        tag="h1"
        variant="display3XL"
        class="text-primary font-semibold tracking-tighter text-balance capitalize"
      >
        Explore Job Tags
      </Text>
      <div
        class="mt-12 grid grid-cols-1 gap-x-12 gap-y-2 md:grid-cols-2 lg:grid-cols-4"
      >
        {
          tagCounts.map(({ tag, count }) => (
            <div class="relative flex items-baseline justify-between">
              <a href={`/jobs/tags/${tag}`} class="absolute inset-0 z-10" />
              <Text
                tag="h3"
                variant="textSM"
                class="text-primary font-medium capitalize"
              >
                {tag}
              </Text>
              <span class="border-primary/30 mx-2 flex-1 border-b border-dotted" />
              <Text tag="p" variant="textXS" class="text-primary/60 capitalize">
                {count} job{count !== 1 ? "s" : ""}
              </Text>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
