---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="display3XL"
        class="font-semibold tracking-tighter capitalize text-primary text-balance"
        >Post a Job. <br class="hidden lg:block" /> Hope for the Best.</Text
      >
      <form
        action="#"
        method="POST"
        class="flex flex-col w-full mt-12 gap-2 lg:w-1/4"
      >
        <div class="flex flex-col gap-1">
          <label for="company" class="block text-sm font-medium text-primary"
            >Company Name</label
          >
          <input
            type="text"
            id="company"
            name="company"
            required
            class="w-full px-0 text-xs bg-transparent border-0 border-b border-primary/10 focus:border-primary text-primary focus:ring-0 focus:outline-none"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label for="title" class="block text-sm font-medium text-primary"
            >Job Title</label
          >
          <input
            type="text"
            id="title"
            name="title"
            required
            class="w-full px-0 text-xs bg-transparent border-0 border-b border-primary/10 focus:border-primary text-primary focus:ring-0 focus:outline-none"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label for="location" class="block text-sm font-medium text-primary"
            >Location</label
          >
          <input
            type="text"
            id="location"
            name="location"
            required
            class="w-full px-0 text-xs bg-transparent border-0 border-b border-primary/10 focus:border-primary text-primary focus:ring-0 focus:outline-none"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label for="jobType" class="block text-sm font-medium text-primary"
            >Work Type</label
          >
          <select
            id="jobType"
            name="jobType"
            required
            class="w-full px-0 text-xs bg-transparent border-0 border-b border-primary/10 focus:border-primary text-primary focus:ring-0 focus:outline-none"
          >
            <option value="" disabled selected>Select work type</option>
            <option value="Remote">Remote</option>
            <option value="Hybrid">Hybrid</option>
            <option value="On-site">On-site</option>
          </select>
        </div>
        <div class="flex flex-col gap-1">
          <label for="type" class="block text-sm font-medium text-primary"
            >Job Type</label
          >
          <select
            id="type"
            name="type"
            required
            class="w-full px-0 text-xs bg-transparent border-0 border-b border-primary/10 focus:border-primary text-primary focus:ring-0 focus:outline-none"
          >
            <option value="" disabled selected>Select job type</option>
            <option value="Full-time">Full-time</option>
            <option value="Part-time">Part-time</option>
            <option value="Contract">Contract</option>
            <option value="Internship">Internship</option>
          </select>
        </div>
        <div class="flex flex-col gap-1">
          <label for="applyUrl" class="block text-sm font-medium text-primary"
            >Application URL</label
          >
          <input
            type="url"
            id="applyUrl"
            name="applyUrl"
            required
            class="w-full px-0 text-xs bg-transparent border-0 border-b border-primary/10 focus:border-primary text-primary focus:ring-0 focus:outline-none"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label
            for="description"
            class="block text-sm font-medium text-primary"
            >Job Description</label
          >
          <textarea
            id="description"
            name="description"
            rows="6"
            required
            class="w-full px-0 text-xs bg-transparent border-0 border-b border-primary/10 focus:border-primary text-primary focus:ring-0 focus:outline-none"
          ></textarea>
        </div>

        <div class="flex mt-2">
          <Button type="submit" size="xs" variant="default">
            Get your password, again.
          </Button>
        </div>
      </form>
    </Wrapper>
  </section>
</BaseLayout>
