<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="border-t border-zinc-800 pt-2">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
        <p class="text-white tracking-wide font-display">Procreate</p>
        <div class="lg:col-span-full mt-32">
          <p
            class="text-base uppercase md:text-3xl lg:text-6xl font-display tracking-tight text-white">
            Procreate is a raster graphics editor app for digital painting
            developed and published by the Australian company Savage Interactive
            for iOS and iPadOS. It was launched on the App Store in 2011
          </p>
          <p class="mt-32 flex flex-row gap-4">
            <a
              href="/board/company-profile"
              class="text-white text-xs tracking-wide hover:text-zinc-500 uppercase font-display"
              >Learn more about Procreate</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
