---
const featuresList = [
  "5 - 10 candidate applications",
  "Job published for 14 days",
  "Slightly longer approval process",
  "No verified company status",
];
---

<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="space-y-32">
      <div class="border-t border-stone-700 pt-2">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
          <p
            class="text-base font-medium text-white uppercase font-display">
            Post a free job offer
          </p>
          <div class="lg:col-span-2">
            <p
              class="text-base uppercase md:text-3xl lg:text-6xl font-display tracking-tight text-white">
              Experience our Job Board firsthand, Publish a complimentary job
              today and if you're uncertain about investing in a featured job,
              feel free to start with a free job posting.
            </p>
            <ul
              role="list"
              class="text-base font-medium mt-32 text-white uppercase font-display">
              {featuresList.map((feature) => <li>{feature}</li>)}
            </ul>

            <p class="mt-32">
              <a
                href="/board/post-job"
                class="text-base font-medium text-white uppercase font-display hover:text-stone-400">
                Post a free job today
              </a>
            </p>
            <p>
              <small class="text-stone-400"
                >Once you post, the next post must be a paid post.
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
