---
const stats = [
  { term: "Satisfied customers", value: "1,000+" },
  { term: "Industry experience", value: "5 Years" },
  { term: "Successful projects", value: "500+" },
  { term: "Customer satisfaction", value: "95%" },
];
---

<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="border-t border-stone-700 pt-2">
      <div class="flex flex-col gap-8 lg:gap-0">
        <p
          class="text-base font-medium text-white uppercase font-display">
          about
        </p>
        <h1
          class="text-base md:text-3xl mt-32 lg:text-6xl font-display uppercase text-white text-balance">
          Our story: unveiling our journey
        </h1>
      </div>
    </div>
    <div class="border-t border-stone-700 pt-2">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
        <div class="prose-styles w-full lg:col-start-2 lg:col-span-2">
          <p>
            Welcome to Carriera, your trusted partner in the world of
            employment. We understand that finding the right job or the perfect
            candidate can be a transformative experience. That’s why we’re here,
            dedicated to making the job search and recruitment process
            efficient, enjoyable, and successful for everyone.
          </p>
          <h4>Our Mission</h4>
          <p>
            At Carriera, our mission is simple yet powerful: to connect talent
            with opportunity. We’re committed to helping job seekers discover
            their dream careers while assisting employers in finding the
            best-fit candidates to drive their organizations forward.
          </p>
          <h4>What Sets Us Apart</h4>
          <ul>
            <li>
             <strong> Robust Job Matching:</strong> Our advanced algorithms ensure that job
              seekers are matched with roles that align with their skills,
              experience, and aspirations. Employers can discover top talent
              effortlessly.
            </li>
            <li>
              <strong>User-Centric Design:</strong> We’ve designed our platform with you in mind.
              User-friendliness, intuitive navigation, and a seamless experience
              are at the heart of everything we do.
            </li>
            <li>
              <strong>Community Building:</strong> We foster a vibrant community of job seekers,
              employers, and career experts. Share insights, connect, and learn
              from one another to achieve your goals.
            </li>
            <li>
              <strong>Data-Driven Insights:</strong> Our platform provides valuable data and
              analytics to both job seekers and employers, empowering informed
              decisions.
            </li>
          </ul>
          <h4>Join Our Journey</h4>
          <p>
            Whether you’re a job seeker taking the next step in your career or
            an employer looking to build your dream team, Carriera is your
            trusted companion on this exciting journey. Together, we’ll unlock
            the doors to opportunity and help you achieve your professional
            aspirations.
          </p>
          <p>
            Thank you for choosing Carriera. Let’s embark on this path to
            success together.
          </p>
        </div>
      </div>
    </div>
    <div class="border-t border-stone-700 pt-2 mt-32">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
        <p
          class="text-base font-medium text-white uppercase font-display">
          stats
        </p>
        <dl
          class="grid grid-cols-2 gap-x-8 gap-y-12 sm:gap-y-16 lg:grid-cols-4 lg:col-span-2">
          {
            stats.map((item) => (
              <div class="flex flex-col gap-y-3">
                <dt class="text-base leading-7 text-stone-400 inline-flex items-center gap-2">
                  {item.term}
                </dt>
                <dd class="text-base font-medium text-white uppercase font-display order-first">
                  {item.value}
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
