<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="border-t border-zinc-800 pt-2">
      <div class="flex flex-col gap-8 lg:gap-0">
        <p class="text-white text-base tracking-wide font-display uppercase">
          Featured positions
        </p>
        <div>
          <p
            class="text-base uppercase md:text-3xl mt-32 lg:text-6xl font-display tracking-tight text-white">
            Discover a wide range of thrilling job opportunities that align with
            your interests and chosen field of study.
          </p>
          <p class="mt-32">
            <a
              href="/board/all-jobs"
              class="text-white text-xs tracking-wide hover:text-zinc-500 uppercase font-display"
              >See all jobs</a
            >
          </p>
        </div>
        <ul
          class="flex flex-col mt-12 col-span-full divide-y border-y divide-zinc-800 border-zinc-800"
          role="list">
          <li class="w-full py-2">
            <div class="flex flex-col gap-8 lg:gap-0 w-full text-white">
              <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:items-end lg:gap-0 mt-32">
                <div class="flex-shrink-0 block">
                  <div class="flex items-center">
                    <div class="font-display">
                      <p class="text-base tracking-wide">
                        Receive 10 credits for featuring a job, allowing you to
                        highlight a single job opening.
                      </p>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 mt-12 text-xs">
                    <span>1 credit for featuring a single job opening</span>
                    <span>Support inclusion</span>
                    <span>Job featured for 1 week</span>
                    <span>Job published for 2 months.</span>
                    <span>1-day approval process</span>
                    <span>Verified company status</span>
                  </div>
                </div>
                <div class="lg:col-span-2 lg:ml-auto">
                  <p
                    class="text-base uppercase md:text-3xl lg:text-6xl font-display tracking-tight">
                    10/Credits
                  </p>
                </div>
                <button
                  class="flex col-span-full mt-12 items-center border border-white text-xs rounded-full w-full h-10 px-4 py-2 uppercase font-display text-white transition-all bg-black hover:bg-white hover:text-black duration-200 focus:ring-2 focus:ring-white focus:ring-offset-black focus:ring-offset-4 justify-between">
                  Get started
                  <span>&rarr;</span>
                </button>
              </div>
            </div>
          </li>
          <li class="w-full py-2">
            <div class="flex flex-col gap-8 lg:gap-0 w-full text-white">
              <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:items-end lg:gap-0 mt-32">
                <div class="flex-shrink-0 block">
                  <div class="flex items-center">
                    <div class="font-display">
                      <p class="text-base tracking-wide">
                        Receive 150 credits for featuring a job, allowing you to
                        highlight a single job opening.
                      </p>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 mt-12 text-xs">
                    <span>3 credits for featuring 3 job openings.</span>
                    <span>Hirewise support inclusion</span>
                    <span>JEach job featured for 1 week.</span>
                    <span>Job published for 4 months</span>
                    <span>24h approval process</span>
                    <span>Verified company status</span>
                  </div>
                </div>
                <div class="lg:col-span-2 lg:ml-auto">
                  <p
                    class="text-base uppercase md:text-3xl lg:text-6xl font-display tracking-tight">
                    150/Credits
                  </p>
                </div>
                <button
                  class="flex col-span-full mt-12 items-center border border-white text-xs rounded-full w-full h-10 px-4 py-2 uppercase font-display text-white transition-all bg-black hover:bg-white hover:text-black duration-200 focus:ring-2 focus:ring-white focus:ring-offset-black focus:ring-offset-4 justify-between">
                  Get started
                  <span>&rarr;</span>
                </button>
              </div>
            </div>
          </li>
          <li class="w-full py-2">
            <div class="flex flex-col gap-8 lg:gap-0 w-full text-white">
              <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:items-end lg:gap-0 mt-32">
                <div class="flex-shrink-0 block">
                  <div class="flex items-center">
                    <div class="font-display">
                      <p class="text-base tracking-wide">
                        Receive 150 credits for featuring a job, allowing you to
                        highlight a single job opening.
                      </p>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 mt-12 text-xs">
                    <span>10 credits for featuring 3 job openings.</span>
                    <span>Hirewise support inclusion</span>
                    <span>JEach job featured for 1 month.</span>
                    <span>Job published for 1 year</span>
                    <span>Inmediate approval process</span>
                    <span>Verified company status</span>
                  </div>
                </div>
                <div class="lg:col-span-2 md:ml-auto">
                  <p
                    class="text-base uppercase md:text-3xl lg:text-6xl font-display tracking-tight">
                    300/Credits
                  </p>
                </div>
                <button
                  class="flex col-span-full mt-12 items-center border border-white text-xs rounded-full w-full h-10 px-4 py-2 uppercase font-display text-white transition-all bg-black hover:bg-white hover:text-black duration-200 focus:ring-2 focus:ring-white focus:ring-offset-black focus:ring-offset-4 justify-between">
                  Get started
                  <span>&rarr;</span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
