---
// Assets
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Popular pages
const items = [
  {
    title: "Open Positions",
    description: "Find your next career opportunity.",
    link: "/",
  },
  {
    title: "Hiring Companies",
    description: "See all companies hiring on HireWise.",
    link: "/companies/",
  },
  {
    title: "Latest news",
    description: "Read the latest news from HireWise.",
    link: "/blog",
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="display3XL"
        class="text-primary font-semibold tracking-tighter text-balance capitalize"
      >
        404 — This page does not exist
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="text-primary/60 mt-4 text-balance"
      >
        Sorry, we couldn’t find the page you’re looking for.
      </Text>
      <div class="mt-2 flex">
        <Button isLink size="xs" variant="accent" href="/" class="w-auto">
          Go back home
        </Button>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
