---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="display3XL"
        class="text-primary font-semibold tracking-tighter text-balance capitalize"
        >Sign In. Pretend You Know What You’re Doing</Text
      >
      <div class="lg:w-1/4">
        <form
          action="#"
          method="POST"
          class="mt-12 flex w-full flex-col gap-2 "
        >
          <div class="flex flex-col gap-1">
            <label for="email" class="text-primary block text-sm font-medium"
              >Email Address</label
            >
            <input
              type="email"
              id="email"
              name="email"
              required
              class="border-primary/10 focus:border-primary text-primary w-full border-0 border-b bg-transparent px-0 text-xs focus:ring-0 focus:outline-none"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label for="password" class="text-primary block text-sm font-medium"
              >Password</label
            >
            <input
              type="password"
              id="password"
              name="password"
              required
              class="border-primary/10 focus:border-primary text-primary w-full border-0 border-b bg-transparent px-0 text-xs focus:ring-0 focus:outline-none"
            />
          </div>
          <div class="mt-2 flex flex-wrap items-center gap-1 lg:flex-nowrap">
            <Button type="submit" size="xs" variant="default" class="w-full">
              Sign in
            </Button>
            <Button
              isLink
              gap="xs"
              size="xs"
              variant="muted"
              href="#_"
              class="w-full"
            >
              Google
            </Button>
            <Button
              isLink
              gap="xs"
              size="xs"
              variant="muted"
              href="#_"
              class="w-full"
            >
              Apple
            </Button>
          </div>
        </form>
  
        <div class="mt-4 flex items-center justify-between gap-2">
          <div class="flex items-center gap-1">
            <input
              type="checkbox"
              id="remember"
              name="remember"
              class="text-primary border-primary/20 focus:ring-primary focus:ring-none ring-offset-secondary rounded-full"
            />
            <label for="remember" class="text-primary/60 text-xs"
              >Remember me</label
            >
          </div>
          <a href="#" class="text-primary hover:text-blue text-xs font-medium"
            >Forgot password?</a
          >
        </div>
        <Text tag="p" variant="textXS" class="text-primary/60 mt-4">
          Accountless?
          <a
            class="text-primary hover:text-blue font-medium"
            href="/sign-up"
          >
            Sign up
          </a>
        </Text>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
