---
// Assets

// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
---

<div>
  <div>
    <Text tag="h3" variant="textBase" class="text-primary font-medium">
      Need help with hiring or applying?
    </Text>
    <Text tag="p" variant="textSM" class="text-primary/60 mt-2">
      Whether you're posting a job or applying to one, we're here to support
      you. <br />
      <br /> Submit a ticket and our team will help you get unstuck quickly.
    </Text>
  </div>
  <div class="mt-4 flex">
    <Button isLink size="xs" variant="accent" href="/contact">
      Submit a ticket
    </Button>
  </div>
</div>
