<div class="fixed bottom-4 right-4 z-50">
  <div class="flex items-center gap-2">
    <!-- Default theme: white base -->
    <button
      id="theme-dot-default"
      data-theme="default"
      class="ring-primary/10  size-4 rounded-full bg-[#ffffff] outline-2 transition-colors"
      title="Default"></button>
  
      <button
        id="theme-dot-accent"
        data-theme="accent"
        class=" outline-primary size-4 rounded-full bg-[#101319] outline-2 transition-colors"
        title="Dark"></button>
    <button
      id="theme-dot-dark"
      data-theme="dark"
      class=" outline-primary size-4 rounded-full bg-[#245230] outline-2 transition-colors"
      title="Dark"></button>
  </div>
  
</div>