---
// Assets

// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
// Tags
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="display3XL"
        class="text-primary font-semibold tracking-tighter text-balance capitalize"
      >
        Explore all news
      </Text>
      <ul
        role="list"
        class="mt-12 grid grid-cols-1 gap-x-12 gap-y-2 md:grid-cols-2 lg:grid-cols-4"
      >
        {
          tags.map((tag) => {
            const postCount = allPosts.filter((post) =>
              post.data.tags.includes(tag)
            ).length;
            return (
              <li class="relative flex items-baseline justify-between">
                <a href={`/blog/tags/${tag}`} class="absolute inset-0 z-10" />
                <Text
                  href={`/blog/tags/${tag}`}
                  variant="textSM"
                  class="text-primary font-medium capitalize"
                >
                  {tag}
                </Text>
                <span class="border-primary/30 mx-2 flex-1 border-b border-dotted" />
                <Text
                  tag="p"
                  variant="textXS"
                  class="text-primary/60 capitalize"
                >
                  {postCount} post{postCount !== 1 ? "s" : ""}
                </Text>
              </li>
            );
          })
        }
      </ul>
    </Wrapper>
  </section>
</BaseLayout>
