---
import BaseHead from "@/components/BaseHead.astro";
import LargeNavigation from "@/components/global/LargeNavigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="bg-black">
    <LargeNavigation />
    <slot />
    <Footer />
    
  </body>
</html>
