---
// Assets

// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const { frontmatter } = Astro.props;
// Breadcrumbs Data
const breadcrumbs = [
  { label: "Home", href: "/" },

  { label: frontmatter.page, href: "#" }, // Current page (unstyled)
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="display3XL"
        class="text-primary font-semibold tracking-tighter text-balance capitalize"
      >
        {frontmatter.page}
      </Text>
      <Wrapper variant="narrow" class="mt-12">
        <nav aria-label="Breadcrumb">
          <ol class="text-primary/60 flex items-center space-x-2">
            {
              breadcrumbs.map((item, index) => (
                <>
                  <li>
                    {index < breadcrumbs.length - 1 ? (
                      <a
                        href={item.href}
                        class="hover:text-primary font-mono text-xs font-medium uppercase"
                      >
                        {item.label}
                      </a>
                    ) : (
                      <span class="text-primary font-mono text-xs font-medium uppercase">
                        {item.label}
                      </span>
                    )}
                  </li>
                  {index < breadcrumbs.length - 1 && (
                    <li class="text-primary/60">
                      <ChevronRight size="sm" />
                    </li>
                  )}
                </>
              ))
            }
          </ol>
        </nav>
        <Text
          class="span"
          variant="textXS"
          class="text-primary/60 mt-12 flex items-center gap-2 font-medium uppercase"
        >
          <time
            datetime={new Date(frontmatter.pubDate).toLocaleDateString(
              "en-US",
              {
                year: "numeric",
                month: "long",
              }
            )}
          >
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
              })
            }
          </time>
        </Text>

        <Wrapper variant="prose" class="mt-4">
          <slot />
        </Wrapper>
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
