---
const pageData = [
  {
    title: "All pages",
    sections: [
      {
        title: "Landing Pages",
        links: [
          { label: "Home", href: "/" },
          { label: "About", href: "/about" },
          { label: "404", href: "/infopages/404" },
        ],
      },
      {
        title: "Pricing",
        links: [
          { label: "Pricing table", href: "/pricing/featured-job-pricing" },
          { label: "Post job offer", href: "/board/post-job" },
        ],
      },
      {
        title: "Board",
        links: [
          { label: "Level", href: "/board/level" },
          { label: "Location", href: "/board/location" },
          { label: "Category", href: "/board/category" },
        ],
      },
      {
        title: "System",
        links: [{ label: "Style Guide", href: "/system/style-guide" }],
      },
    ],
  },
  {
    title: "Content collections",
    sections: [
      {
        title: "Blog",
        links: [
          { label: "RSS", href: "/rss.xml" },
          { label: "Blog", href: "/blog/home" },
          { label: "Blog Post", href: "/blog/posts/1" },
          { label: "Tags index", href: "/blog/tags" },
          { label: "Tags category", href: "/blog/tags/HTML" },
        ],
      },
      {
        title: "Board",
        links: [{ label: "Job offer post", href: "/openjobs/1" }],
      },
      {
        title: "Companies",
        links: [
          { label: "Home", href: "/board/all-companies" },
          { label: "Details", href: "/companies/1" },
        ],
      },
      {
        title: "Info Pages",
        links: [
          { label: "Contact", href: "/contact" },
          { label: "Terms Of use", href: "/infopages/terms" },
          { label: "Privacy Policy", href: "/infopages/privacy" },
        ],
      },
    ],
  },
];
---

<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="border-t border-zinc-300 pt-2">
      <div class="flex flex-col gap-8 lg:gap-0">
        <p class="text-base font-medium text-black uppercase font-display">
          Overview
        </p>
        <h1
          class="text-base md:text-3xl mt-32 lg:text-6xl font-display uppercase text-black text-balance">
          Explore all pages
        </h1>
      </div>
    </div>
  </div>
  <div class="items-center w-full px-8 md:px-12 py-12 mx-auto 2xl:max-w-7xl">
    {
      pageData.map((page) => (
        <div class="flex flex-col gap-2 mt-32">
          <p class="text-base font-medium text-black uppercase font-display">
            {page.title}
          </p>
          {page.sections.map((section) => (
            <div class="border-t border-zinc-300 text-base font-medium text-black uppercase font-display   pt-2">
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
                <p>{section.title}</p>
                <div class="  flex flex-col gap-2">
                  {section.links.map((link) => (
                    <a
                      class="hover:text-zinc-500 duration-200"
                      href={link.href}>
                      {link.label}
                    </a>
                  ))}
                </div>
              </div>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</section>
