<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="flex flex-col gap-2">
      <div
        class="border-t border-zinc-800 text-white text-xs uppercase font-display tracking-wide pt-2">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
          <p class="text-xs uppercase">Overview</p>
          <div
            class="font-display uppercase tracking-wide text-white text-xs flex flex-col gap-2">
            <a class="hover:text-zinc-500 duration-200" href="/">Overview</a>
            <a
              class="hover:text-zinc-500 duration-200"
              href="/styleguide">Styleguide</a
            >
          </div>
          <div
            class="font-display uppercase tracking-wide text-white text-xs flex flex-col gap-2">
            <a href="#" class="hover:text-zinc-500"> Buy Carriera</a>
          </div>
        </div>
      </div>
      <div
        class="border-t border-zinc-800 text-white text-xs uppercase font-display tracking-wide pt-2">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
          <p class="text-xs uppercase">Landing pages</p>
          <div
            class="font-display uppercase tracking-wide text-white text-xs flex flex-col gap-2">
            <a
              class="hover:text-zinc-500 duration-200"
              href="/landings/landing-one">Landing One</a
            >
            <a
              class="hover:text-zinc-500 duration-200"
              href="/landings/landing-two">Landing Two</a
            >
          </div>
        </div>
      </div>
      <div
        class="border-t border-zinc-800 text-white text-xs uppercase font-display tracking-wide pt-2">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
          <p class="text-xs uppercase">pricing</p>
          <div
            class="font-display uppercase tracking-wide text-white text-xs flex flex-col gap-2">
            <a
              class="hover:text-zinc-500 duration-200"
              href="/pricing/pricing-simple">Pricing simple</a
            >
            <a
              class="hover:text-zinc-500 duration-200"
              href="/pricing/pricing-tiered">Pricing tiered</a
            >
          </div>
        </div>
      </div>
      <div
        class="border-t border-zinc-800 text-white text-xs uppercase font-display tracking-wide pt-2">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
          <p class="text-xs uppercase">board</p>
          <div
            class="font-display uppercase tracking-wide text-white text-xs flex flex-col gap-2">
            <a
              class="hover:text-zinc-500 duration-200"
              href="/board/all-categories"
              >All Categories
            </a>
            <a class="hover:text-zinc-500 duration-200" href="/board/all-jobs"
              >all Jobs</a
            >
            <a
              class="hover:text-zinc-500 duration-200"
              href="/board/job-details">Job Details</a
            >
            <a
              class="hover:text-zinc-500 duration-200"
              href="/board/company-profile">company profile</a
            >

            <a
              class="hover:text-zinc-500 duration-200"
              href="/board/application">application</a
            >
          </div>
        </div>
      </div>
      <div
        class="border-t border-zinc-800 text-white text-xs uppercase font-display tracking-wide pt-2">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
          <p>Blog</p>
          <div class="flex flex-col gap-2">
            <a class="hover:text-zinc-500 duration-200" href="/blog/blog-one"
              >Blog One</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/blog/blog-two"
              >Blog two</a
            >

            <a class="hover:text-zinc-500 duration-200" href="/blog/posts/1"
              >Blog post</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/tags"
              >Tag index</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/tags/Tailwind"
              >Tag category</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/rss.xml">rss</a>
          </div>
        </div>
      </div>
      <div
        class="border-t border-zinc-800 text-white text-xs uppercase font-display tracking-wide pt-2">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
          <p class="text-xs uppercase">info pages</p>
          <div
            class="font-display uppercase tracking-wide text-white text-xs flex flex-col gap-2">
            <a class="hover:text-zinc-500 duration-200" href="/infopages/about"
              >About</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/infopages/terms"
              >Terms of service</a
            >
            <a
              class="hover:text-zinc-500 duration-200"
              href="/infopages/privacy">privacy policy</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/404">404</a>
          </div>
        </div>
      </div>
      <div
        class="border-t border-zinc-800 text-white text-xs uppercase font-display tracking-wide pt-2">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
          <p class="text-xs uppercase">forms</p>
          <div
            class="font-display uppercase tracking-wide text-white text-xs flex flex-col gap-2">
            <a class="hover:text-zinc-500 duration-200" href="/forms/contact"
              >Contact</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/forms/login"
              >Login</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/forms/signup"
              >Signup</a
            >
            <a class="hover:text-zinc-500 duration-200" href="/forms/reset"
              >reset password</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
