<section>
  <div
    class="items-center w-full px-8 md:px-12 py-12 lg:pt-32 mx-auto 2xl:max-w-7xl">
    <div class="border-t border-zinc-800 pt-2">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0">
        <p class="text-white text-base tracking-wide font-display uppercase">
          Contact
        </p>
        <div class="text-base tracking-tight text-white">
          <p class="gap-4 inline-flex items-center">
            We are just one click away
          </p>
        </div>
        <div>
          <ul
            role="list"
            class="flex flex-col divide-y divide-zinc-800 border-zinc-800 border-t lg:border-t-0 border-b text-base tracking-tight text-white w-full">
            <li class="inline-flex items-center justify-between w-full pb-2">
              General <span>support@carriera.com</span>
            </li>
            <li class="inline-flex items-center justify-between w-full pb-2">
              Press <span>support@press.com</span>
            </li>
            <li class="inline-flex items-center justify-between w-full pb-2">
              Feedback <span>support@feedback.com</span>
            </li>
            <li class="inline-flex items-center justify-between w-full pb-2">
              Bug bounty <span>support@bugbounty.com</span>
            </li>
          </ul>
        </div>

        <p
          class="text-base uppercase md:text-3xl mt-32 lg:text-6xl font-display tracking-tight text-white col-span-full">
          Contact us anytime
        </p>
      </div>
    </div>
  </div>
</section>
