---
const logos = [
  {
    alt: "Coinbase logo",
    src: "/logos/coinbase.svg",
    class: "h-8",
  },
  {
    alt: "Hubspot logo",
    src: "/logos/hubspot.svg",
    class: "h-8",
  },
  {
    alt: "Netflix logo",
    src: "/logos/netflix.svg",
    class: "h-8",
  },
  {
    alt: "Coinbase logo",
    src: "/logos/coinbase.svg",
    class: "h-8 hidden sm:block",
  },
];
---

<section>
  <div class="mx-auto px-8 md:px-32 py-12 max-w-6xl">
    <div
      class="items-center grid grid-cols-1 lg:gap-24 lg:grid-cols-4 md:grid-cols-2">
      <div class="mx-auto col-span-full lg:col-span-1 lg:max-w-none lg:mr-auto">
        <p class="text-zinc-500 text-xs">
          Some of the mazing companies that trust us.
        </p>
      </div>
      <div class="flex justify-between flex-wrap mt-12 lg:mt-0 md:col-span-3">
        {
          logos.map((logo) => (
            <img
              alt={logo.alt}
              src={logo.src}
              class={logo.class}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
