---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Button from "@/components/fundations/elements/Button.astro";
const { links = [] } = Astro.props;

---
<div id="mobileMenu" class="lg:hidden fixed inset-0 z-40 hidden" aria-hidden="true">
  <div
    class="relative z-10 m-4 rounded-lg outline-2 outline-primary/10 bg-secondary p-4 shadow-2xl"
  >
    <div class="flex items-center justify-between">
      <a href="/" class="flex items-center gap-2">
        <Logo class="text-primary font-medium lowercase" />
      </a>
      <button
        class="hover:text-primary text-primary duration-300 text-sm"
        data-close-nav
      >
        Close
      </button>
    </div>
    <nav class="mt-12 flex flex-col gap-3 ">
      {links.map((link) => (
        <a href={link.href} class="hover:text-primary/40 duration-300 text-primary text-sm">
          {link.label}
        </a>
      ))}
    </nav>
    <div class="mt-12 flex items-center gap-2">
        <Button size="xs" variant="accent">Sign in</Button>
         <Button
            size="xs"
            variant="muted">Sign in</Button>
    </div>
  </div>
</div>
<script is:inline>
  const navToggle = document.getElementById("navToggle");
  const mobileMenu = document.getElementById("mobileMenu");
  const closeTargets = mobileMenu?.querySelectorAll("[data-close-nav]");
  const openNav = () => {
    mobileMenu.classList.remove("hidden");
    navToggle?.setAttribute("aria-expanded", "true");
    document.body.style.overflow = "hidden";
  };
  const closeNav = () => {
    mobileMenu.classList.add("hidden");
    navToggle?.setAttribute("aria-expanded", "false");
    document.body.style.overflow = "";
  };
  navToggle?.addEventListener("click", () => {
    const isOpen = navToggle.getAttribute("aria-expanded") === "true";
    if (isOpen) {
      closeNav();
    } else {
      openNav();
    }
  });
  closeTargets?.forEach((btn) => {
    btn.addEventListener("click", closeNav);
  });
  window.addEventListener("resize", () => {
    if (window.innerWidth >= 1024) {
      closeNav();
    }
  });
</script>
