---
// Assets
import Logo from "@/components/assets/Logo.astro";
// fundations
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import MobileNav from "@/components/global/MobileNav.astro";
import ConnectWalletIsland from "@/components/app/ConnectWalletIsland";
const navLinks = [
  { href: "/", label: "Bundles" },
  { href: "/funds/create", label: "Create bundle" },
  { href: "https://t.me/+Q0aItbvNIGM5MzVh", label: "Community" },
];
---
<section>
  <Wrapper variant="standard">
    <div class="grid grid-cols-2 lg:grid-cols-5 gap-4 py-5">
      <a href="/" class="flex items-center gap-2">
        <Logo />
      </a>
      <div
        class="hidden items-center justify-center gap-4 text-primary lg:col-span-3 lg:flex"
      >
        {
          navLinks.map((link) => (
            <a href={link.href} class="hover:text-primary text-sm duration-300">
              {link.label}
            </a>
          ))
        }
      </div>
      <div class="col-span-1 flex items-center justify-end gap-3">
        <div class="hidden lg:block">
          <ConnectWalletIsland client:only="react" />
        </div>
        <button
          id="navToggle"
          class="hover:text-primary/40 duration-300 text-primary text-sm lg:hidden"
          aria-expanded="false"
          aria-controls="mobileMenu"
        >
          Menu
        </button>
      </div>
    </div>
  </Wrapper>
</section>
<MobileNav links={navLinks} />
