---
// Assets
import Logo from "@/components/assets/Logo.astro";
import JobSearch from "@/components/jobs/JobSearch.astro";
import ThemeToggle from "@/components/assets/ThemeToggle.astro";
// Fundations
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid w-full grid-cols-2 items-center justify-between gap-4 py-2 lg:grid-cols-3 lg:gap-12"
    >
      <a href="/" class="flex items-center gap-2">
        <Logo class="text-primary font-medium lowercase" />
      </a>
      <div class="text-primary/60 ml-auto flex items-center gap-2 lg:mx-auto">
        <a
          href="/system/overview"
          class="hover:text-primary text-sm duration-300"
        >
          Overview
        </a>
        <a
          href="https://buy.polar.sh/polar_cl_uTsOzAB0c5cWUwq0XwDFmoQ6mMjOnIeMDRmvRh39V-w"
          class="hover:text-primary text-sm duration-300"
        >
          Buy Carriera
        </a>
      </div>
      <div
        class="col-span-full flex items-center justify-between gap-2 lg:col-span-1 lg:ml-auto"
      >
        <JobSearch />
        <ThemeToggle />
      </div>
    </div>
  </Wrapper>
</section>
